*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
   font-size:  15px;
   background: url(./images/bg-pattern-top-desktop.svg);
   background-position: center;
   background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.cards{
    height: 800px;
    width: 80%;
}
.head{
    display: flex;
    flex-direction: row;
    height: 360px;
    width: auto;
    margin: 10px auto;
}
.heading{
    padding:10PX auto;
    width: 800px;
}
h1{
    font-size:65px;
    font-weight: 1200;
    line-height: 50px;
   padding: 15px 130px;
    color: hsl(300, 43%, 22%);
}
.heading p{
    font-size: 20px;
    font-weight: 400;
    color: hsl(300, 2%, 51%);
    line-height: 30px;
    margin: 10px;
    padding-left: 120px;
}
.rate{
    width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px 30px;
    font-size: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 5px;
}
.ratings{
    display: block;
    padding-top: 40PX;
    position: relative;
    left: 120px;
    
}
.rate-1{
    margin: 10px 10px;
}
.rate-2{
    margin: 10px 50px;
}
.rate-3{
    margin: 10px 100px;
}
.rate img{
   margin: 5px 5px;
   height: 20px;
}
h4{
    padding-left: 25px;
}
.card-sec{
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    height: 400px;
    color: hsl(300, 24%, 96%);
}
.card{
    background-color: hsl(300, 43%, 22%);
    margin:10px;
    padding: 45px 30px;
    border-radius: 10px;
    height: 310px;
    width: 80%;
}
.card-1{
    margin-top: 0px;
}
.card-2{
    margin-top: 30px;
}
.card-3{
    margin-top: 60px;
}
.img-sec{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.img-sec h2{
    position: absolute;
    margin-top: 10px;
    margin-left: 110px;
}
.img-sec h3{
   position: absolute;
   margin-top: 40px;
   margin-left: 120px;
   color: hsl(333, 80%, 67%);
}
.img-sec img{
    border-radius: 60px;
    margin-bottom: 20px;
}
.card p{
    line-height: 30px;
    word-spacing: 2px;
    color: hsl(300, 22%, 86%);
    font-size: 18px;
}
@media (min-width: 1600px){
    .ratings{
        width: 95%;
    }
    h1{   
        padding: 5px;
    }
    .heading p{
        padding-left: 0;
    }
}
@media (max-width: 1200px){
    .ratings{
        width: 95%;
    }
    h1{   
        padding: 5px;
    }
    .heading p{
        padding-left: 0;
    }
}

 

